<a href="https://colab.research.google.com/github/JuliaR2711/rodzoch_julia_2_numerzajec_2/blob/main/rodzoch_Julia_6_numer_zajec_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
MAIN_DATA = pd.read_csv("/content/test.csv")

In [ ]:
df_titanic = MAIN_DATA.copy()

In [ ]:
df_titanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df_titanic = df_titanic[["Name", "Sex",	"Age"]]

In [ ]:
df_titanic

                                             Name     Sex   Age
0                                Kelly, Mr. James    male  34.5
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0
2                       Myles, Mr. Thomas Francis    male  62.0
3                                Wirz, Mr. Albert    male  27.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
..                                            ...     ...   ...
413                            Spector, Mr. Woolf    male   NaN
414                  Oliva y Ocana, Dona. Fermina  female  39.0
415                  Saether, Mr. Simon Sivertsen    male  38.5
416                           Ware, Mr. Frederick    male   NaN
417                      Peter, Master. Michael J    male   NaN

[418 rows x 3 columns]

In [20]:
median_age = df_titanic["Age"].median()
print(f"The median age of the passengers is: {median_age}")

The median age of the passengers is: 27.0

In [11]:
df_titanic["Sex"] = df_titanic["Sex"].replace({"male": 0, "female": 1})
df_titanic

<ipython-input-11-2b54cd01f613>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_titanic["Sex"] = df_titanic["Sex"].replace({"male": 0, "female": 1})
<ipython-input-11-2b54cd01f613>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_titanic["Sex"] = df_titanic["Sex"].replace({"male": 0, "female": 1})

                                             Name  Sex   Age
0                                Kelly, Mr. James    0  34.5
1                Wilkes, Mrs. James (Ellen Needs)    1  47.0
2                       Myles, Mr. Thomas Francis    0  62.0
3                                Wirz, Mr. Albert    0  27.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1  22.0
..                                            ...  ...   ...
413                            Spector, Mr. Woolf    0   NaN
414                  Oliva y Ocana, Dona. Fermina    1  39.0
415                  Saether, Mr. Simon Sivertsen    0  38.5
416                           Ware, Mr. Frederick    0   NaN
417                      Peter, Master. Michael J    0   NaN

[418 rows x 3 columns]

In [12]:
men_count = df_titanic[df_titanic["Sex"] == 0]["Sex"].count()
women_count = df_titanic[df_titanic["Sex"] == 1]["Sex"].count()

print(f"Number of men: {men_count}")
print(f"Number of women: {women_count}")

Number of men: 266
Number of women: 152

In [16]:
catastrophe_year = 1912  # Replace with the desired current year
df_titanic['Year of birth'] = catastrophe_year - df_titanic['Age']
df_titanic

<ipython-input-16-8e1d801433fc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_titanic['Year of birth'] = catastrophe_year - df_titanic['Age']

                                             Name  Sex   Age  Year of birth
0                                Kelly, Mr. James    0  34.5         1877.5
1                Wilkes, Mrs. James (Ellen Needs)    1  47.0         1865.0
2                       Myles, Mr. Thomas Francis    0  62.0         1850.0
3                                Wirz, Mr. Albert    0  27.0         1885.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1  22.0         1890.0
..                                            ...  ...   ...            ...
413                            Spector, Mr. Woolf    0   NaN            NaN
414                  Oliva y Ocana, Dona. Fermina    1  39.0         1873.0
415                  Saether, Mr. Simon Sivertsen    0  38.5         1873.5
416                           Ware, Mr. Frederick    0   NaN            NaN
417                      Peter, Master. Michael J    0   NaN            NaN

[418 rows x 4 columns]